Flask==0.12.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-PyMongo==0.5.1
Flask-SQLAlchemy==2.3.2
Flask-Testing==0.7.1
Flask-WTF==0.14.2
Jinja2==2.10
MarkupSafe==1.0
SQLAlchemy==1.2.5
WTForms==2.1
Werkzeug==0.14.1
argparse==1.4.0
base==1.0.4
click==6.7
coverage==4.5.1
dominate==2.3.1
itsdangerous==0.24
linecache2==1.0.0
pymongo==3.6.1
traceback2==1.4.0
unittest2==1.1.0
visitor==0.1.3
