/*------------------------------------------------------------------------------
    MAIN  STYLES    
------------------------------------------------------------------------------*/

body {
    font-family: 'Roboto', sans-serif;
    background: #062324;
    position: relative;
    margin: 0;
    padding-top: 120px;
    min-height: 100%;
}

html {
    height: 100%;
    box-sizing: border-box;
}


#wrapper {
    width: 100%;
}

.text-center {
    text-align: center;
}

.btn {
    color: white;
    background-color: #008080;
    border-radius: 20px;
    border: none;
    width: 280px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 20px;
    font-weight: bold;
}

.btn:hover {
    background-color: #0E5254;
    color: white;
}

/*------------------------------------------------------------------------------
    TOP NAVBAR    
------------------------------------------------------------------------------*/

.top-navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 300;
    background: #232a27;
    border: none;
    padding-right: 10px;
}

.navbar-brand i.large.material-icons {
    float: left;
    font-size: 31px;
    margin-right: 6px;
}

.navbar-brand {
    margin-top: 0px;
}

.top-navbar .navbar-brand {
    color: #ffffff;
    width: 260px;
    text-align: left;
    height: 60px;
    font-size: 28px;
    font-weight: 700;
    /* text-transform: uppercase; */
    line-height: 30px;
    background: #232a27;
    border-radius: 10px;
}

.top-navbar .nav>li {
    position: relative;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
}

.top-navbar .nav>li>a {
    position: relative;
    display: block;
    padding: 17px;
    color: #ffffff;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border-radius: 10px;
}

.top-navbar .nav>li>a>i {
    margin-right: 0;
}

.navbar-brand i.large.material-icons {
    float: left;
    font-size: 34px;
    margin-right: 6px;
}

.top-navbar .nav>li>a b {
    margin: 0 5px;
}

#top_icon {
    color: #FFCB9A;
}



.fa-th-list,
.fa-python,
.fa-file,
.material-icons {
    color: #FFCB9A;
    margin-right: 2px;

}

/* Hovers and Focuses --------------------------------------------------------*/



.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: #075CB3;
    border-color: #075CB3;

}

.top-navbar .nav>li>a:hover,
.top-navbar .nav>li>a:focus {
    text-decoration: none;
    background: #0E5254;
    outline: 0px;

}

.navbar-default .navbar-brand:hover {
    color: white;
}

.top-navbar .navbar-brand:hover {
    background-color: #0E5254;
    outline: 0px;
}



/*------------------------------------------------------------------------------
    DASHBOARD CARDS    
------------------------------------------------------------------------------*/

#info_content {
    background-color: #232a27;
    min-height: 220px;
    border-style: outset;
    border-color: #D9B08C;
    border-radius: 25px;
    margin: 10px;
    padding: 30px;
}

#info_content h1  {
    padding: 0px 10px 20px 0px;
    color: white;
}


#info_content h2 {
    padding: 0px 10px 20px 10px;
    color: #FFCB9A;
}

#info_content h5 {
    padding: 40px 10px 0px 10px;
    color: white;
}

#info_content a {
    text-decoration: none;
}

#info_content h5:hover {
    padding: 40px 10px 0px 10px;
    color: #0E5254;
}

[type="radio"]:not(:checked),
[type="radio"]:checked {
    opacity: 1;
    position: static;
    margin-left: 10px;
}

label {
    color: white;
    font-size: 18px;
    border-radius: 10px;
    padding-right: 10px;

}

label:hover {
    background-color: #151917;
}

form p {
    color: #D9B08C;
    font-size: 20px;
    font-weight: bold;
}

#estimator {
    background-color: #0E5254;
    height: 80px;
    color: white;
    border-radius: 15px;
    font-size: 16px;
    min-width: 220px;
    border-color: #D9B08C;
}

#estimator:hover {
    background-color: #0a3b3d;
    color: white;
    
}


/*----------------------------------------------
    MEDIA QUERIES     
------------------------------------------------*/



/* MAX WIDTHS: LARGE SCREEN---------------------------------------------------*/

@media(max-width:1810px) {

    #info_content {
        min-height: 0px;
        margin: 10px;
        padding: 10px;
    }
    #info_content h2 {
        padding: 0px 10px 10px 10px;
        color: #FFCB9A;
        font-size: 18px;
    }
    

}

@media(max-width:1381px) {

    #info_content {
        min-height: 0px;
        margin: 10px;
        padding: 10px;
    }
    #info_content h2 {
        padding: 0px 10px 10px 10px;
        color: #FFCB9A;
        font-size: 18px;
    }
   
}

/* MAX WIDTHS: MEDIUM SCREEN---------------------------------------------------*/

@media(max-width:1200px) {

 
    .top-navbar .nav>li>a {
        padding: 16px;
        font-size: 16px;
    }

    #info_content {
        min-height: 0px;
        margin: 10px;
        padding: 10px;
    }
    #info_content h2 {
        padding: 0px 10px 10px 10px;
        color: #FFCB9A;
        font-size: 18px;
    }
}

@media(max-width:1056px) {


    .top-navbar .nav>li>a {
        padding: 16px;
        font-size: 16px;
    }
    #info_content {
        min-height: 0px;
        margin: 10px;
        padding: 10px;
    }
    #info_content h2 {
        padding: 0px 10px 10px 10px;
        color: #FFCB9A;
        font-size: 15px;
    }
    #info_content h1 {
        font-size: 24px
    }

    label {
        color: white;
        font-size: 14px;
        border-radius: 10px;
        padding-right: 10px;
    }

    form p {
        color: #D9B08C;
        font-size: 20px;
        font-weight: bold;
    }
}

@media(max-width:993px) {

    .top-navbar .navbar-brand {
        width: 250px;
    }

    #info_content {
        min-height: 0px;
        margin: 10px;
        padding: 10px;
    }
    #info_content h2 {
        padding: 0px 10px 10px 10px;
        color: #FFCB9A;
        font-size: 15px;
    }
}

@media(max-width:959px) {

    .top-navbar {
        padding-right: 2px;
    }
}

/* MAX WIDTHS: SMALL SCREEN---------------------------------------------------*/

@media(max-width:767px) {

    #top_icon {
        font-size: 0px;
    }
    .top-navbar .nav>li>a {
        padding: 8px;
        font-size: 14px;
        color: #FFCB9A;
    }
    #info_content {
        min-height: 0px;
        margin: 10px;
        padding: 10px;
    }
    #info_content h2 {
        padding: 0px 10px 10px 10px;
        color: #FFCB9A;
        font-size: 15px;
    }
}

/* MAX WIDTHS: EXTRA-SMALL SCREEN---------------------------------------------*/

@media(max-width:521px) {


    .top-navbar .nav>li>a {
        padding: 8px;
        font-size: 12px;
        color: #FFCB9A;
    }
    #info_content {
        min-height: 0px;
        margin: 0px;
        padding: 10px;
    }
    #info_content h2 {
        padding: 0px 10px 10px 10px;
        color: #FFCB9A;
        font-size: 15px;
    }
}



@media(max-width:480px) {


    .top-navbar .material-icons {
        font-size: 20px;
    }
    .top-navbar .nav>li>a {
        padding: 6px;
        font-size: 10px;
    }
    #info_content {
        min-height: 0px;
        margin: 0px;
        padding: 10px;
    }
    #info_content h2 {
        padding: 0px 10px 10px 10px;
        color: #FFCB9A;
        font-size: 15px;
    }
}

@media(max-width:376px) {

    .top-navbar .nav>li>a {
        padding: 4px 0px 4px 0px;
        font-size: 10px;
    }
    .top-navbar .material-icons {
        font-size: 14px;
    }
    .btn {
        width: 200px;
    }
}

@media(max-width:321px) {

 
    .top-navbar .nav>li>a {
        padding: 10px 0px 10px 0px;
        font-size: 10px;
    }
    .navbar-side {
        top: 100px;
    }
}

