{% extends 'base.html' %} {% block content %}





<div class="row"></div>
<div class="row"></div>
<div class="row"></div>

<div class="row">
    <div class="col-md-12 text-center">
        <div class="card" id="description_card">
            <h2>Which ML Estimator should I choose:</h2>
            <form method="POST">
                {% for entry in questions %}
                <div class="card" id="algorithm">
                    {{ entry.question }}
                    <br> {% set question_number = loop.index0 %} {% for answer in entry.answers %}
                    <label>
                                    <input type="radio" value="{{ answer }}" name="{{ question_number }}">
                                    {{ answer }}
                                    </label>
                    <br> {% endfor %}
                </div>
                {% endfor %}
                <div class="row">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Find Estimator</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}
