{% extends 'base.html' %} {% block content %}





<div class="row"></div>
<div class="row"></div>
<div class="row"></div>

<div class="row">
    <div class="col-md-12 text-left">
        <div class="card text-center" id="main_card">
            <form action="{{url_for('dashboard') }}" method="POST" class="col s12">

                <h1>CHARACTERISE YOUR DATASET</h1>
                <div class="row"></div>

                <div class="row"></div>
                <div class="row text-center">
                    <div class="col-md-1 text-center"></div>
                    {% for entry in questions %}

                    <div class="col-md-2 text-center">
                        <div class="card text-left" id="question">
                            <h2>{{ entry.question }}</h2>
                            <br> {% set question_number = loop.index0 %} {% for answer in entry.answers %}
                            <h4>
                                <input type="radio" value="{{ answer }}" name="{{ question_number }}"> {{ answer }}
                            </h4>
                            <br> {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-md-1 text-center"></div>
                </div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row">
                    <button class="waves-effect waves-light btn-large" id="add" type="submit"><i class="large material-icons left">arrow_downward</i>MATCH ESTIMATOR</button>
                </div>
            </form>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
                <h1> {{ message }} </h1>
            </div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
                <div class="col-md-3 text-center"></div>
                {% for entry in result %}
                
                        <h2> {{ entry }} </h2>
                         <div class="row"></div>  
                {% endfor %}
                <div class="col-md-3 text-center"></div>
            </div>
            <div class="row"></div>
            <div class="row text-center">
                
            </div>
            <div class="row text-center">
                <div class="col-md-3 text-center"></div>
                <div class="col-md-2 text-center">
                    <h5>To find out more about algorithm visit:</h5>
                    <div class="row"></div>
                    <a target="_blank" href="https://lukaszmalucha.github.io/UCFD-Milestone-Project/" class="waves-effect waves-light btn btn_small">ML Library</a>
                </div>
                <div class="col-md-2 text-center">
                    <h5>To suggest new algorithm visit:</h5>
                    <div class="row"></div>
                    <a href="{{url_for('add_algorithm')}}" class="waves-effect waves-light btn btn_small">Suggest</a>
                </div>
                <div class="col-md-2 text-center">
                    <h5>To see full map:</h5>
                    <div class="row"></div>
                    <a href="{{url_for('full_map')}}" class="waves-effect waves-light btn btn_small">SciKit Map</a>
                </div>
                <div class="col-md-3 text-center"></div>
            </div>
        </div>
    </div>

    {% endblock %}
